---
layout: base.njk
title: Karte
permalink: /karte/
mapHeading: Unsere Stellplätze
excerpt: "Alle Stellplätze und Campingplätze unserer Trips mit dem VW California auf einer Karte."
---
{% include "map.njk" %}
